.ErrorFont {
    font-size: 15px;
    color: red;
}

.Background {
    background: url("../Images/TestBackground.jpg");
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.Background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.3);

}


