@using Microsoft.AspNetCore.Components.Authorization
@using MPM_Betting.Blazor.Components.Account.Shared
@using Blazorise
@using MudBlazor

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin/>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <h1>404 - Not Found</h1>
    </NotFound>
</Router>

<ModalProvider UseModalStructure Animated Size="ModalSize.Fullscreen" />
<ToastProvider />

@{
    var darkMode = true;
    <MudThemeProvider @bind-IsDarkMode="@darkMode" @rendermode="InteractiveServer" />
    <MudDialogProvider/>
    <MudSnackbarProvider/>
}
