@page "/Dashboard"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using Google.Protobuf.WellKnownTypes
@using MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using MPM_Betting.Blazor.ComponentLibrary.Core
@using MPM_Betting.Services.Data
@inject FootballApi Api
@using Blazorise
@using Blazorise.SpinKit
@using MPM_Betting.Services
<PageTitle>Home</PageTitle>


<div id="View">
    <div class="container-fluid">
        <div class="MainPage">
            <div class="col-2">
                <ResultHandler Generator="async () => await Api.GetAllFootballLeagues()">
                    <SuccessTemplate>
                        <Leagues LeagueList="@context"/>
                    </SuccessTemplate>
                    <ErrorTemplate>
                        <p>Some custom error handler</p>
                    </ErrorTemplate>
                </ResultHandler>
            </div>    
            <div class="col-7">
                <ResultHandler Generator="async () => await Api.GetAllFootballLeagues()">
                    <SuccessTemplate>
                        <Matches Leagues="@context"/>
                    </SuccessTemplate>
                </ResultHandler>
            </div>
            <div class="col-3">
                
            </div>
        </div>
    </div>
</div>

@code {

    private MpmResult<List<FootballApi.League>>? m_LeaguesList;

    protected override async Task OnInitializedAsync()
    {
        m_LeaguesList = await Api.GetAllFootballLeagues();
    }
}












