@page "/Dashboard"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using MPM_Betting.Blazor.ComponentLibrary.Core
@using MPM_Betting.Services.Data
@inject FootballApi Api

<PageTitle>Home</PageTitle>

<div id="View">
    <div class="container-fluid">
        <div class="MainPage">
            <div class="col-3 LeftPart">
                <div class="row">
                    <div class="col-11">
                        <ResultHandler Generator="async () => await Api.GetAllFootballLeagues()">
                            <SuccessTemplate>
                                <LeaguesList LeagueList="@context"/>
                            </SuccessTemplate>
                            <ErrorTemplate>
                                <p>Some custom error handler</p>
                            </ErrorTemplate>
                        </ResultHandler>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <Groups/>
                    </div>
                </div>
            </div>    
            <div class="col-8">
                <ResultHandler Generator="async () => await Api.GetAllFootballLeagues()">
                    <SuccessTemplate>
                        <Matches Leagues="@context"/>
                    </SuccessTemplate>
                </ResultHandler>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
    
    
}












