@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div class="ErrorContainer">
    <h1 class="text-danger">Error</h1>
    <div class="ErrorBox">
        <div class="BoxContent soft-bg">
            <div>An error occurred while processing your request.</div>
            <div>Please try again later</div>
            @if (ShowRequestId)
            {
            <p>
                <strong>Request ID:</strong> <code>@RequestId</code>
            </p>
            }
            <a href="/">Home</a>
        </div>
    </div>
</div>




@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}