@page "/"
@using MPM_Betting.Blazor.ComponentLibrary.DesktopView
<PageTitle>Home</PageTitle>

<div id="View">
    <div class="container-fluid">
        <div class="row">
            <NavBar/>
        </div>
        
        <div class="MainPage">
            
        </div>
    </div>
</div>




@code {

    

}









