@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering]

<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>
<h1>Hi hi hi</h1>

@code {
    
}