@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using Blazorise

<div class="container-fluid">
    <div class="row">
        <NavBar Tab="NavBar.ActiveTab.Home" SportArt="NavBar.SelectedSportArt.None"/>
    </div>
</div>

@code {
    
}