@page "/weather"                                      // Defines the URL for this component
@using MPM_Betting.DataModel                           // Imports the DataModel namespace
@using Microsoft.AspNetCore.OutputCaching               // Imports the OutputCaching namespace

@* 
    The following two lines decorate this component with StreamRendering and OutputCache attributes.
    StreamRendering is used for server-side rendering, and OutputCache is used to cache the output
    of this component for 5 seconds.
*@
@attribute [StreamRendering]
@attribute [OutputCache(Duration = 5)]

@inject WeatherApiClient WeatherApi                    // Injects an instance of WeatherApiClient

<PageTitle>Weather</PageTitle>                          // Sets the title of the page

<h1>Weather</h1>                                       // Displays a header

<p>This component demonstrates showing data.</p>          // Describes the purpose of this component

@*
    The following if-else block checks if the forecasts variable is null.
    If it is, it displays a loading message. Otherwise, it displays the forecast data in a table.
*@
@if (forecasts == null)
{
    <p>
        <em>Loading...</em>                           // Displays a loading message
    </p>
}
else
{
    <table class="table">                              // Displays the forecast data in a table
        <thead>
        <tr>
            <th>Date</th>                               // Column header for the date
            <th>Temp. (C)</th>                          // Column header for the temperature in Celsius
            <th>Temp. (F)</th>                          // Column header for the temperature in Fahrenheit
            <th>Summary</th>                             // Column header for the summary
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)            // Loops through each forecast in the forecasts array
        {
            <tr>                                       // Starts a new table row
                <td>@forecast.
