@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using MPM_Betting.Services.Data
@using MPM_Betting.Blazor.ComponentLibrary.DesktopView.SmallComponents
@using Blazorise
@using LanguageExt.Pipes
@using Microsoft.AspNetCore.Authorization
@using MPM_Betting.Blazor.ComponentLibrary.Core
@using MPM_Betting.DataModel.User
@using MPM_Betting.Services.Domains
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject UserDomain UserDomain
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="row GroupsContainer">
    <div class="col-11 GroupsMainBox" onclick="@SwitchToGroups">
        <h2 class="pt-3 fw-bold">Your Groups</h2>
        <div class="line"></div>
        
        @if (User is null)
        {
            <div class="fs-5 pt-4"> Log in to see your groups</div>
        }
        else if (GroupsList == null)
        {
            <div> Loading...</div>
        }   
        else if (GroupsList.Count == 0)
        {
            <div class="NoGroupsLayout">
                <div class="fs-5"> You are not in any groups yet. </div>
            </div>
        }
        else
        {
            @foreach(var groupEntry  in GroupsAndPlaces)
            {
                <div class="GroupEntry row">
                    <div class="col-3 GroupEntryImageBox">
                        <img width="60%" src="./Images/Logo_cropped.png" alt="image"/>
                    </div>
                    <div class="col-7">@groupEntry.Item1.Name</div>
                    @* TODO Abfrage >:c *@
                    @switch(groupEntry.Item2)
                    {
                        case 1:
                            <div class="col-2 gold">1st</div>
                            break;
                        case 2:
                            <div class="col-2 silver">2nd</div>
                            break;
                        case 3:
                            <div class="col-2 bronze">3rd</div>
                            break;
                        default:
                            <div class="col-2">@(groupEntry.Item2)th</div>
                            break;
                    }
                </div>
            }
        }
    </div>
</div>

@code {
    [CascadingParameter] private SyncContextWithPayload<MpmUser>? UserTask { get; set; }
    MpmUser? User;
    public List<MpmGroup> GroupsList { get; set; }
    public List<Tuple<MpmGroup, int>> GroupsAndPlaces { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        GroupsAndPlaces = new List<Tuple<MpmGroup, int>>();
        if (UserTask is null)
            return;
        
        await UserTask.SyncEvent.Task;
        
        if (UserTask.Payload is not null)
            User = UserTask.Payload;    
        
        if (User is null) return;
        UserDomain.SetUser(User);
        var groupResult = await UserDomain.GetGroups();
        if (groupResult.IsSuccess)
        {
            GroupsList = groupResult.Value;
            StateHasChanged();
        }

        foreach (var group in GroupsList)
        {
            var result = await UserDomain.GetUserPosition(group);
            if (result.IsSuccess)
            {
                GroupsAndPlaces.Add(new Tuple<MpmGroup, int>(group, result.Value));
            }
        }
        
    }
    
    private void SwitchToGroups()
    {
        NavigationManager.NavigateTo("/groups");
    }

    
    
    

}