@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using MPM_Betting.Services.Data
@using MPM_Betting.Blazor.ComponentLibrary.DesktopView.SmallComponents
@using Blazorise

<div class="Leagues">
    <h2>Leagues</h2>
    
    <div class="line"></div>
    
    @foreach(var league in TopLeagues)
    {
        <LeagueEntry league="@league"/>
    }
    
    
    <Divider/>
</div>

@code {
    [Parameter]
    public List<FootballApi.League> LeagueList { get; set; }
    public List<FootballApi.League> TopLeagues { get; set; }

    protected override void OnInitialized()
    {
        int[] ids = { 73, 47, 78, 55, 42, 54 };
        TopLeagues = LeagueList.Where(s => ids.Contains(s.Id)).ToList();
    }


}