.ErrorMessage {
    color: red;
    font-weight: bold;
}

.MatchesDate {
    display: flex;
    justify-content: center;
    width: 100%;
}

.MatchesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    width: 100%;
    background: rgba(50,50,50,1);
    border-radius: 10px;
    padding-top: 15px;
}

.MatchLeagueBoxes {
    display: flex;
    width: 90%;
    justify-self: center;
    flex-direction: column;
    justify-content: center;    
}

.MatchLeagueEntry {
    display: flex;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.MatchLeagueEntryName {
    display: flex;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    align-items: center;
    border-bottom: 3px solid white;
    justify-content: center;
    color: white;
    
    font-weight:  bold;
}

.NoMatchesError {
    display: flex;
    width: 100%;
    font-style: italic;
    justify-content: center;
    padding: 15px 0px 10px 0px;
}

.LeagueMatches {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.MatchEntry {
    display: grid;
    grid-template-columns: 2fr 0.2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
    margin: 5px 0 5px 0;
}

.MatchHomeTeam ,  .MatchAwayTeam {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 15px;
}

.MatchInfo {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.4fr 1fr 0.5fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.MatchInfo img {
    height: 40px;
}

.MatchAwayTeam {
}

.Match_HomeLogo {
    display: flex;
    justify-content: flex-end;
}

.MatchInfoDivider{
    border-left: 3px solid gray;
}

.BetsInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BetsInfo > div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
}

.BetsInfo > div > div {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.BetsInfo > div > span {
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 10%;
    border: 1px solid black;
    font-size: 18px;
}


.BetsInfo > span:hover {
    background: gray;
}

/*MODAL*/

.ModalSettings {
    background: rgba(80,80,80);
    color: red;
}
.ModalEntries {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.ModalTeamEntries {
    padding-bottom: 2%;
    font-weight: bold;
}


.BetEntry {
    background: rgba(70,70,70,0.8);
    padding: 2%;
    border-radius: 10px;
}

.BetEntry:hover {
    background: rgba(90,90,90,0.8);
    cursor: pointer;
}

.ModalActiveBet {
    background: rgba(234, 179, 38, 0.5);
    font-weight: bold;
}

.ModalActiveBet:hover {
    background: rgba(234, 179, 38, 0.8);
}

.line {
    width: 100%;
    border: 2px solid white;
    margin: 10px 0 10px 0;
}


.MatchesBox:hover .line {
    border: 2px solid #0BBCC7;
}

.MatchesBox:hover h2 {
    transform: scale(1.06);
}

.LoadingMatches {
    display: flex;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
}


/*.wrongBet::before, .wrongBet::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    left: 50%;*/
/*    width: 4px;*/
/*    height: 80%;*/
/*    background: rgba(0,0,0, 0.5);*/
/*}*/

/*.wrongBet::before {*/
/*    transform: rotate(70deg);*/
/*}*/

/*.wrongBet::after {*/
/*    transform: rotate(-70deg);*/
/*}*/

.NotStarted {
    background: rgba(234, 179, 38, 0.5);
}

.NotStarted:hover {
    cursor: pointer;
    background: rgba(234, 179, 38, 0.8);
}

.rightBet {
    background: rgba(0, 255, 0, 0.45);
    font-weight: bolder ;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 20px;
}

.wrongBet {
    background: rgba(255, 0, 0, 0.3);
}

.wrongBet:hover {
    background: rgba(255, 50, 50, 0.5);
    cursor: default;
}

.rightBet:hover {
    background: rgba(0, 255, 50, 0.7);
    cursor: default;
}


    