/*GLOBAL CLASSES*/

.NoHoverUnderline {
    text-decoration: none;   
}

.NoHoverUnderline:hover {
    text-decoration: none;
}

.NoTransform {
    transform: none;
}

/*NORMAL CLASSES*/

.NavBar {
    background: rgba(50,50,50,1);
    width: 101vw;
    height: fit-content;
    display: flex;
    border-bottom: gray solid 2px;
    margin-bottom: 1%;
    justify-content: space-evenly;
}


.NavBarLogoText {
    font-family: Impact, fantasy;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    font-decoration: none;
    cursor: default;
    color: #0BBCC7; /*TODO*/
}

.NavBarLogoText:hover {
    transform: scale(1.04);
    text-decoration: none;
    cursor: pointer;
}

.NavBar img {
    margin: 10px;
    justify-self: center;
}

.NavBar > * {
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center; 
    display: flex;
}

.credits {
    display: flex;
    flex-direction: row;
}

.sportarten{
    display: flex;
    justify-content: space-between;
}

.credits {
    display: flex;
    align-items: center;
}

.credits > div {
    font-size: 1.2em;
    font-family: Tahoma;
}

.NavBarLink {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
}


.NavBarLink:hover {
    text-decoration: none;
    cursor: pointer;
    transform: scale(103%);
}

.NavBarItem {
    font-family: "Lucida Bright";
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.NavBarActive {
    font-weight: bold;
    border-bottom: 3px solid #0BBCC7;
}

.NavBarDropDown {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
}

.NavBarDropDownSP {
    diplay: flex;
    align-content: center;
    align-items: center;
    color: rgb(200,200,200);
}



