@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using Blazorise

<div class="NavBar col-12">
    <div class="col-1 logo">
        <div class="NavBarLogoText">MPM</div>
    </div>
    <div class="col-3 sportarten">
        <a href="/"> <Button Color="Color.Primary">Home</Button></a>
        <a href="/dashboard"><Button Color="Color.Secondary">Dashboard</Button></a>
        <Dropdown>
            <DropdownToggle Color="Color.Primary">
                Sportarten
            </DropdownToggle>
            <DropdownMenu>
                <DropdownItem>Fußball</DropdownItem>
                <DropdownDivider />
                <DropdownItem Disabled>Basketball</DropdownItem>
                <DropdownDivider />
                <DropdownItem Disabled>Formula 1</DropdownItem>
            </DropdownMenu>
            
        </Dropdown>
    </div>
    <div class="col-4">
        
    </div>
    <div class="col-1 light_dark">
        
    </div>
    <div class="col-1 notifications">
        <img src="Images/bell_white.png" height="40px"/>
    </div>
    <div class="col-1 credits">
        
        <div>7524   </div>
        <img src="Images/coin.png" height="30px" alt="xxx"/>
    </div>
    <div class="col-1 profile-pic">
        <img src="Images/pfp.jpg" height="50px" alt="xxx"/>
    </div>
</div>

@code {
    [Parameter]
    public string Test { get; set; }
}