@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using Blazorise

<div class="NavBar col-12">
    <div class="col-1 logo">
        <img src="https://dummyimage.com/500x500/000/fff" height="50px" alt="xxx"/>
    </div>
    <div class="col-2 sportarten">
        <div>
            <Button Color="Color.Primary">Click me</Button>
        </div>
    </div>
    <div class="col-5">
        
    </div>
    <div class="col-1 light_dark">
        
    </div>
    <div class="col-1 notifications">
        
    </div>
    <div class="col-1 credits">
        <img src="https://dummyimage.com/500x500/000/fff" height="20px" alt="xxx"/>
        <span>7777</span>
    </div>
    <div class="col-1 profile-pic">
        <img src="https://dummyimage.com/500x500/000/fff" height="50px" alt="xxx"/>
    </div>
</div>

@code {
    [Parameter]
    public string Test { get; set; }
}