@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using Blazorise
@attribute [StreamRendering(true)]

<div class="NavBar col-12">
    <div class="col-1 logo">
        <a href="/"><div class="NavBarLogoText">MPM</div></a>
    </div>
    <div class="col-3 sportarten">
        <a href="/">
             <Button Color="@(Tab == ActiveTab.Home ? Color.Primary : Color.Secondary)">Home</Button>
        </a>
        <a href="/dashboard">
            <Button Color="@(Tab == ActiveTab.Dashboard ? Color.Primary : Color.Secondary)" >Dashboard</Button>
        </a>
        <Dropdown>
            <DropdownToggle Color="Color.Secondary">
                Sportarten
            </DropdownToggle>
            <DropdownMenu>
                <DropdownItem TextColor="TextColor.Primary">Fußball</DropdownItem>
                <DropdownDivider />
                <DropdownItem Disabled>Basketball</DropdownItem>
                <DropdownDivider />
                <DropdownItem Disabled>Formula 1</DropdownItem>
            </DropdownMenu>
            
        </Dropdown>
    </div>
    <div class="col-4">
        
    </div>
    <div class="col-1 light_dark">
        
    </div>
    <div class="col-1 notifications">
        <img src="Images/bell_white.png" height="40px"/>
    </div>
    <div class="col-1 credits">
        
        <div>7524   </div>
        <img src="Images/coin.png" height="30px" alt="xxx"/>
    </div>
    <div class="col-1 profile-pic">
        <img src="Images/pfp.jpg" height="50px" alt="xxx"/>
    </div>
</div>

@code {
    [Parameter]
    public ActiveTab Tab { get; set; }
    
    [Parameter]
    public SelectedSportArt SportArt { get; set; }
    
    
    public enum ActiveTab
    {
        Home,
        Dashboard,
        Sportarten
    }

    public enum SelectedSportArt
    {
        Fußball,
        Basketball,
        Formula1,
        None
    }
}