@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <div class="AdministrationMiddleBox">
        <h1 class="text-danger">Access denied</h1>
        <div class="AdministrationBox">
            <div class="BoxContent soft-bg">
                <div>You do not have access to this resource.</div>
                <div>Click the button below to go back to the home Page</div>
                <a href="/">Back to Home</a>
            </div>
        </div>
    </div>
</header>
