@page "/Account/ConfirmEmail"

@using System.Text
@using BlazorApp1.Components.Account
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MPM_Betting.DataModel.User

@inject UserManager<MpmUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<div class="AdministrationMiddleBox">
    <h1>Confirm email</h1>
    <div class="AdministrationBox">
        <div class="BoxContent soft-bg">
            <StatusMessage Message="@m_StatusMessage"/>
           @if (!m_StatusMessage.Contains("Error"))
            {
                <div>Now you can login into your brand new account</div>
            }
            <div>Click the button below to switch to the login page</div>
            <a href="/account/login">Login</a>
        </div>
    </div>
</div>






@code {
    private string? m_StatusMessage = "";

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery] private string? UserId { get; set; }

    [SupplyParameterFromQuery] private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            m_StatusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            m_StatusMessage = result.Succeeded ? "Thank you for confirming your email." : "Error confirming your email.";
        }
    }

}