@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<header>
    <div class="AdministrationMiddleBox">
        <h1>Forgot password confirmation</h1>
        <div class="AdministrationBox">
            <div class="BoxContent soft-bg">
                <div>The password reset link will be sent to the email if it finds any matches within our database</div>
                <div>Check your email to continue.</div>
                <a href="/account/login">Back to Login</a>
            </div>
        </div>
    </div>
</header>
