@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<header>
    <div class="AdministrationMiddleBox">
        <h1 class="text-danger">Invalid Link</h1>
        <div class="AdministrationBox">
            <div class="BoxContent soft-bg">
                <div>The password reset link is invalid or has expired</div>
                <div>Try sending it again through the login page</div>
                <a href="/account/login">Back to Login</a>
            </div>
        </div>
    </div>
</header>
