@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


@* TODO Make this more dynamic c: -> <Background Path=""/> *@
<div class="Background"></div>

<div class="LoginPageMainBox">
    <div class="LoginPage row">
        @Body
    </div>
</div>