@inherits LayoutComponentBase
@layout AccountLayout


<div class="container m-8 mt-12">
    <h1>Manage your account</h1>
    <h2>Change your account settings</h2>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>