@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <div class="container m-8 mt-12">
        <h1>Account Management</h1>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <ManageNavMenu/>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                @Body
            </div>
        </div>
    </div>
}



@code {

    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }

}