@using MPM_Betting.Services.Data
@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView.SmallComponents

<div class="Box LeagueBox">
    <img class="LeagueBoxIcon" src="" height="40px"/>
    <div>@league.Name</div>
    <img class="LeagueBoxStar" src="Images/star_empty.webp" height="40px"/>
</div>

@code {
    [Parameter]
    public FootballApi.League league { get; set; }
}