/* The page container with a relative position and flex layout. */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* The main content area with flex-grow property set to 1. */
main {
    flex: 1;
}

/* The sidebar with a linear gradient background. */
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

/* The top row with a light gray background and a border at the bottom. */
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end; /* Align items to the right */
    height: 3.5rem;
    display: flex;
    align-items: center; /* Vertically center the items */
}

/* Styling for anchor tags and btn-link elements within the top-row */
.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap; /* Prevents text wrapping */
    margin-left: 1.5rem; /* Adds horizontal spacing between elements */
    text-decoration: none; /* Removes underline from links */
}

/* Hover styles for anchor tags and btn-link elements within the top-row */
.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline; /* Adds underline on hover */
}

/* First child anchor tag styling within the top-row */
.top-row ::deep a:first-child {
    overflow: hidden; /* Prevents text overflow */
    text-overflow: ellipsis; /* Displays ellipsis when text overflows */
}

/* Media query for screens smaller than 640.98px */
@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between; /* Distributes items evenly in a row */
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0; /* Removes horizontal spacing between elements */
    }
}

/* Media query for screens larger than or equal to 641px */
@media (min-width: 641px) {
    .page {
        flex-direction: row; /* Changes the flex direction to horizontal */
    }

    .sidebar {
        width: 250px; /* Sets the width of the sidebar */
        height: 100vh; /* Makes the sidebar the height of the viewport */
        position: sticky; /* Keeps the sidebar in place when scrolling */
        top: 0;
